.clang-format
avr-objdump.exe
dump.bat
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
build_output/alcObjects.cpp.eep
build_output/alcObjects.cpp.elf
build_output/alcObjects.cpp.hex
build_output/alcObjects.cpp.with_bootloader.hex
build_output/build.options.json
build_output/includes.cache
build_output/core/abi.cpp.d
build_output/core/abi.cpp.o
build_output/core/CDC.cpp.d
build_output/core/CDC.cpp.o
build_output/core/core.a
build_output/core/HardwareSerial.cpp.d
build_output/core/HardwareSerial.cpp.o
build_output/core/HardwareSerial0.cpp.d
build_output/core/HardwareSerial0.cpp.o
build_output/core/HardwareSerial1.cpp.d
build_output/core/HardwareSerial1.cpp.o
build_output/core/HardwareSerial2.cpp.d
build_output/core/HardwareSerial2.cpp.o
build_output/core/HardwareSerial3.cpp.d
build_output/core/HardwareSerial3.cpp.o
build_output/core/hooks.c.d
build_output/core/hooks.c.o
build_output/core/IPAddress.cpp.d
build_output/core/IPAddress.cpp.o
build_output/core/main.cpp.d
build_output/core/main.cpp.o
build_output/core/new.cpp.d
build_output/core/new.cpp.o
build_output/core/PluggableUSB.cpp.d
build_output/core/PluggableUSB.cpp.o
build_output/core/Print.cpp.d
build_output/core/Print.cpp.o
build_output/core/Stream.cpp.d
build_output/core/Stream.cpp.o
build_output/core/Tone.cpp.d
build_output/core/Tone.cpp.o
build_output/core/USBCore.cpp.d
build_output/core/USBCore.cpp.o
build_output/core/WInterrupts.c.d
build_output/core/WInterrupts.c.o
build_output/core/wiring_analog.c.d
build_output/core/wiring_analog.c.o
build_output/core/wiring_digital.c.d
build_output/core/wiring_digital.c.o
build_output/core/wiring_pulse.c.d
build_output/core/wiring_pulse.c.o
build_output/core/wiring_pulse.S.d
build_output/core/wiring_pulse.S.o
build_output/core/wiring_shift.c.d
build_output/core/wiring_shift.c.o
build_output/core/wiring.c.d
build_output/core/wiring.c.o
build_output/core/WMath.cpp.d
build_output/core/WMath.cpp.o
build_output/core/WString.cpp.d
build_output/core/WString.cpp.o
build_output/libraries/Adafruit_Unified_Sensor/Adafruit_Sensor.cpp.d
build_output/libraries/Adafruit_Unified_Sensor/Adafruit_Sensor.cpp.o
build_output/libraries/DHT_sensor_library/DHT_U.cpp.d
build_output/libraries/DHT_sensor_library/DHT_U.cpp.o
build_output/libraries/DHT_sensor_library/DHT.cpp.d
build_output/libraries/DHT_sensor_library/DHT.cpp.o
build_output/libraries/TM1637/TM1637Display.cpp.d
build_output/libraries/TM1637/TM1637Display.cpp.o
build_output/preproc/ctags_target_for_gcc_minus_e.cpp
build_output/sketch/alcObjects.cpp.cpp
build_output/sketch/alcObjects.cpp.cpp.d
build_output/sketch/alcObjects.cpp.cpp.o
build_output/sketch/alcObjects.h
build_out/alcObjects.cpp.eep
build_out/alcObjects.cpp.elf
build_out/alcObjects.cpp.hex
build_out/alcObjects.cpp.with_bootloader.hex
build_out/build.options.json
build_out/includes.cache
build_out/core/abi.cpp.d
build_out/core/abi.cpp.o
build_out/core/CDC.cpp.d
build_out/core/CDC.cpp.o
build_out/core/core.a
build_out/core/HardwareSerial.cpp.d
build_out/core/HardwareSerial.cpp.o
build_out/core/HardwareSerial0.cpp.d
build_out/core/HardwareSerial0.cpp.o
build_out/core/HardwareSerial1.cpp.d
build_out/core/HardwareSerial1.cpp.o
build_out/core/HardwareSerial2.cpp.d
build_out/core/HardwareSerial2.cpp.o
build_out/core/HardwareSerial3.cpp.d
build_out/core/HardwareSerial3.cpp.o
build_out/core/hooks.c.d
build_out/core/hooks.c.o
build_out/core/IPAddress.cpp.d
build_out/core/IPAddress.cpp.o
build_out/core/main.cpp.d
build_out/core/main.cpp.o
build_out/core/new.cpp.d
build_out/core/new.cpp.o
build_out/core/PluggableUSB.cpp.d
build_out/core/PluggableUSB.cpp.o
build_out/core/Print.cpp.d
build_out/core/Print.cpp.o
build_out/core/Stream.cpp.d
build_out/core/Stream.cpp.o
build_out/core/Tone.cpp.d
build_out/core/Tone.cpp.o
build_out/core/USBCore.cpp.d
build_out/core/USBCore.cpp.o
build_out/core/WInterrupts.c.d
build_out/core/WInterrupts.c.o
build_out/core/wiring_analog.c.d
build_out/core/wiring_analog.c.o
build_out/core/wiring_digital.c.d
build_out/core/wiring_digital.c.o
build_out/core/wiring_pulse.c.d
build_out/core/wiring_pulse.c.o
build_out/core/wiring_pulse.S.d
build_out/core/wiring_pulse.S.o
build_out/core/wiring_shift.c.d
build_out/core/wiring_shift.c.o
build_out/core/wiring.c.d
build_out/core/wiring.c.o
build_out/core/WMath.cpp.d
build_out/core/WMath.cpp.o
build_out/core/WString.cpp.d
build_out/core/WString.cpp.o
build_out/libraries/Adafruit_Sensor-master/Adafruit_Sensor.cpp.d
build_out/libraries/Adafruit_Sensor-master/Adafruit_Sensor.cpp.o
build_out/libraries/DHT_sensor_library/DHT_U.cpp.d
build_out/libraries/DHT_sensor_library/DHT_U.cpp.o
build_out/libraries/DHT_sensor_library/DHT.cpp.d
build_out/libraries/DHT_sensor_library/DHT.cpp.o
build_out/libraries/TM1637/TM1637Display.cpp.d
build_out/libraries/TM1637/TM1637Display.cpp.o
build_out/preproc/ctags_target_for_gcc_minus_e.cpp
build_out/sketch/alcObjects.cpp.cpp
build_out/sketch/alcObjects.cpp.cpp.d
build_out/sketch/alcObjects.cpp.cpp.o
build_out/sketch/alcObjects.h
.vscode/arduino.json
